<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:installLocation="preferExternal"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/i_luv_book"
        android:label="I Luv Book"
        android:roundIcon="@mipmap/i_luv_book_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Frontend"
        tools:targetApi="33"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <activity android:name=".InitialActivity" android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false">
        </activity>

        <activity android:name=".CommunityActivity" android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".MypageActivity" android:exported="false">
        </activity>

        <activity android:name=".InfoActivity" android:exported="true">

        </activity>

        <activity android:name=".PwModifyActivity" android:exported="false">
        </activity>

        <activity android:name=".NotifyActivity" android:exported="false">
        </activity>

        <activity android:name=".FaqActivity" android:exported="false">
        </activity>

        <activity android:name=".ServiceActivity" android:exported="false">
        </activity>

        <activity android:name=".PrivacyActivity" android:exported="false">
        </activity>

        <activity android:name=".SearchActivity" android:exported="false">
        </activity>

        <activity android:name=".LoginActivity" android:exported="false">
        </activity>

        <activity android:name=".ResetPwActivity" android:exported="false">
        </activity>
        <activity android:name=".SignUpActivity" android:exported="false">
        </activity>
        <activity android:name=".ContactActivity" android:exported="false">
        </activity>
        <activity android:name=".LoadingActivity" android:exported="false">
        </activity>
        <activity android:name=".MakeActivity" android:exported="false">
        </activity>
        <activity android:name=".BookActivity" android:exported="true">
        </activity>
        <activity android:name=".CreateFinishActivity" android:exported="true">
        </activity>

    </application>

</manifest>